:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* מגדיר כיוון כתיבה מימין לשמאל - קריטי לעברית */
  direction: rtl; 
}

body {
  margin: 0;
  padding: 0;
  /* ביטלנו את ה-flex ואת ה-place-items שהיו כאן */
  width: 100%;
  min-height: 100vh;
  background-color: #f4f6f8; /* צבע הרקע האפור הבהיר מהעיצוב שלך */
}

/* מוודא שהאפליקציה עצמה תופסת את כל הרוחב */
#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}